---
layout: splash
author_profile: false
toc: false
header:
  image: /assets/images/header.png
  image_description: "Welcome to HASC Nurse Care Activity Recognition Challenge"
feature_row:
    - title: "Results from the challenge"
      excerpt: "Results have been announced"
      url: /results/
      btn_label: "Read More"
      btn_class: "btn--primary"
    - title: "About the Challenge"
      excerpt: "Learn about the challenge"
      url: /learn/
      btn_label: "Learn More"
      btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
