---
layout: splash
author_profile: false
toc: false
header:
  image: /assets/images/header.png
  image_description: "Welcome to HASC Nurse Care Activity Recognition Challenge"
feature_row:
    - image_path: assets/images/learn.png
      alt: "learn more"
      title: "Learn More"
      excerpt: "Learn about the challenge"
      url: /learn/
      btn_label: "Learn More"
      btn_class: "btn--primary"
    - image_path: /assets/images/data.png
      alt: "get the data"
      url: "/data/"
      title: "Get the data"
      excerpt: "Get the data"
      btn_label: "Get the data"
      btn_class: "btn--primary"
    - image_path: /assets/images/submit.png
      alt: "Submit"
      title: "Submit"
      excerpt: "Submit your results!"
      url: "/join/"
      btn_label: "Submit!"
      btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
